//@import "../../common/font/font";
@import "theme";
@import "mixin";
@import "antdTheme";

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, group, menu, nav, section, p, div {
    margin: 0;
    padding: 0;
}

body,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: var(--font-size-main);
    color: var(--color-text);
    background: var(--bg-color);
    min-width: 1024px;
}

body, button, input, select, textarea, .ant-input, .ant-modal, .ant-alert, .ant-btn {
    font-family: "Roboto", Arial, "Microsoft YaHei", sans-serif;
}

fieldset, img {
    border: 0;
}

ul, ol {
    list-style: none;
}

ins, a {
    text-decoration: none;
}

a {
    cursor: pointer;
    color: var(--color-text-link);

    &:hover {
        color: var(--color-text-link-hover);
    }
}

textarea {
    resize: none;
}

input:focus {
    outline: 0 none;
}

.width-auto {
    max-width: 1200px;
    margin: 0 auto;
}

.skip-btn {
    text-decoration: underline;
    color: var(--color-default);
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    width: fit-content;
    font-size: var(--font-size-main);
    line-height: var(--font-line-height);
    &:hover {
        color: var(--color-text-link-hover);
    }
}

.write-block {
    span {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

}
.is-right .link-white {
    color: var(--color-white);

    &:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width: 1024px) {
    body {
        min-width: 375px;
    }
    .write-block {
        span {
            white-space: wrap;
            word-wrap: break-word;
        }
    }
    .common-text {
        display: block;
    }
}
