:root {
    --color-primary: #F70000;
    --color-default: #45C4BE;
    --color-warning: #ED6A0C;
    --color-white: #FFF;
    --color-text: #222;
    --color-light: #555;
    --color-text-link: var(--color-default);
    --color-text-link-hover: #34B2AB;
    --border-color: #DCDEE0;
    --bg-color: #F3FBFF;
    --bg-color-dark: #F4F4F4;
    --divider-color: #D8D8D8;
    --font-size-main: 14px;
    --font-line-height: 20px;
  }
